/* src/components/Searchbar/Searchbar.css */

.searchbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 15px;
}

.input-bar-field {
    flex: 1;
    padding: 8px;
    height: 20px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.search-button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007BFF;
    border: none;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}
